:root {
  --primary-light: #eef1f5;
  --primary: #df42b1;
  --primary-dark: #5b0eeb;
  --white: #e982cc;
  --greyLight-1: #0c0d0f;
  --greyLight-2: #ec62c2;
  --greyLight-3: #c6349a;
  --greyDark: #ac2082;
}

.body {
  height: 100vh;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
}

.section {
  transform: translate(0, -150px) scale(0.7);
  transition: 1000ms;
}

.section.stop {
  transform: translate(0px, -50px) scale(1.1);
  transition: 1000ms;
}

.okibro {
  position: relative;
  width: 100%;
}

canvas {
  height: 100%;
  width: 100%;
}

svg {
  height: 100%;
  width: 100%;
}

.cute_okibro_face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  pointer-events: none;
  z-index: 100;
}

.cute_mouth_okibro {
  width: 25%;
}

.cute_mouth_okibro h2 {
  margin: 0;
  color: #9293bc;
  letter-spacing: 1px;
  font-size: 1em;
  font-weight: 700;
  font-family: "Futura", "Helvetica Neue", Helvetica;
  background: linear-gradient(to top, #080707 0%, #292222 100%);
  background: -moz-linear-gradient(transparent, transparent);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.components {
  position: fixed;
  bottom: 3%;
  z-index: 1000;
}

.user {
  transform: scale(1);
  transition: 500ms;
  grid-column: 3/3;
  grid-row: 6/6;
  width: 9rem;
  height: 100%;
  justify-self: right;
  border-radius: 1rem;
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}

.user.stop {
  transform: scale(0.9);
  transition: 500ms;
}

.pause {
  font-size: 1.5rem;
}

.user__btn {
  grid-row: 1/2;
  grid-column: 1/2;
  width: 6rem;
  height: 6rem;
  display: flex;
  margin: 0.6rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1rem;
  color: var(--primary);
  z-index: 300;
  background: var(--greyLight-1);
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
    -0.2rem -0.2rem 0.5rem var(--white);
  cursor: pointer;
  position: relative;
}

.user__btn.shadow {
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
    inset -0.2rem -0.2rem 0.5rem var(--white);
}

.play {
  display: none;
  position: absolute;
  transition: all 0.2s linear;
}

.play .visibility {
  opacity: 1;
}

.user__btn .pause {
  position: absolute;
  transition: all 0.2s linear;
}

.user__btn .pause.visibility {
  opacity: 0;
}
.user__back-1,
.user__back-2 {
  grid-row: 1/2;
  grid-column: 1/2;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  filter: blur(1px);
  z-index: 100;
}
.user__back-1 {
  box-shadow: 0.4rem 0.4rem 0.8rem var(--greyLight-2),
    -0.4rem -0.4rem 0.8rem var(--white);
  background: linear-gradient(
    to bottom right,
    var(--greyLight-2) 0%,
    var(--white) 100%
  );
  -webkit-animation: waves 1s linear infinite;
  animation: waves 1s linear infinite;
}
.user__back-1.paused {
  width: 0rem;
  height: 0rem;

  box-shadow: 0.4rem 0.4rem 0.8rem var(--greyLight-2),
    -0.4rem -0.4rem 0.8rem var(--white);
  background: linear-gradient(
    to bottom right,
    var(--greyLight-2) 0%,
    var(--white) 100%
  );
  -webkit-animation: waves 1s linear 1;
  animation: waves 1s linear 1;
}
.user__back-2 {
  box-shadow: 0.4rem 0.4rem 0.8rem var(--greyLight-2),
    -0.4rem -0.4rem 0.8rem var(--white);
  -webkit-animation: waves 1s linear 0.5s infinite;
  animation: waves 1s linear 0.5s infinite;
}
.user__back-2.paused {
  box-shadow: 0.4rem 0.4rem 0.8rem var(--greyLight-2),
    -0.4rem -0.4rem 0.8rem var(--white);
  -webkit-animation: waves 1s linear 2s 1;
  animation: waves 1s linear 2s 1;
  width: 5rem;
  height: 5rem;
}

@-webkit-keyframes waves {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes waves {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@media screen and (min-width: 480px) {
  #organic-blob {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  #canvas {
    display: none;
  }

  svg {
    transform: scale(1.2);
  }

  .cute_mouth_okibro {
    width: 75%;
  }

  .cute_mouth_okibro h2 {
    font-size: 0.8em;
    font-weight: 600;
  }
}

@media screen and (max-width: 420px) {
  #canvas {
    display: none;
  }

  svg {
    transform: scale(1);
  }

  .cute_mouth_okibro h2 {
    font-size: 0.7em;
    font-weight: 700;
  }
}

@media screen and (max-width: 320px) {
  #canvas {
    display: none;
  }

  svg {
    transform: scale(0.9);
  }

  .cute_mouth_okibro h2 {
    font-size: 0.6em;
    font-weight: 600;
  }
}

.hide-player {
  display: none;
}
