# basic configuration
PORT=3033
CLIENT_URL=http://localhost:3000

# database connection
DATABASE_URL=
POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_DB=

# test database connection
TEST_DATABASE_URL=
TEST_POSTGRES_PASSWORD=
TEST_POSTGRES_USER=
TEST_POSTGRES_DB=

# S3 credentials
REGION_S3=
BUCKET_S3=
BUCKET_TEST_S3=
ACCESS_KEY_S3=
SECRET_ACCESS_KEY_S3=

# openai credentials
OPENAI_TRANSCRIPT_KEY=
OPENAI_URL=

# google cloud credentials and authorization
GOOGLE_CLOUD_FILE=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

# google authorization
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# roles credentials
DEFAULT_ROLE=

ADMIN_NAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=

STUDENT_NAME=
STUDENT_EMAIL=
STUDENT_PASSWORD=

# email configuration
CLIENT_URL_EMAIL=
OKIBRO_EMAIL_ADDRESS=
OKIBRO_EMAIL_PASSWORD=
SMTP_SERVER=
IMAP_SERVER=
SMTP_PORT=
IMAP_PORT=

# sentry
DSN_SENTRY=
